/*------------GENERAL------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    max-width: 1080px;
    margin: 0 auto;
}



/*------------PARTE 1------------------*/
.main-container{
    display: flex;
    flex-direction: column;
    background-color: #F7FAFD;
    width: 100%;
    height: 90vh;
}

.maintitle{
    background-color: #F7FAFD;
    flex-direction: column;
    width: 50% ;
    margin: 0 auto ;
    margin-top: 30px;
    text-align: center;

}
.maintitle h1 {
    font-size: 50px;
}
.maintitle p {
    font-size: 18px;
    line-height: 30px;
}
.mobileicon{
    font-size: x-large;

    
}

.buttons{
    display: flex;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 10px;
    
}


.button-background{
    background-color: red;
    border-radius: 40px;
    border-color: red;
    color: red;
    font-weight: bold;
    padding: 5 22px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}


.button-background a {
    color: white;
    display: flex;
    text-align: center;
    margin-top: 5px;
    margin-left: 4px;
    text-decoration: none;
        
}


.phoneimg{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 60%;
    padding-top: 50px;
}

.phone{
    max-width: 1080px;

}



.title-icons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
    
}
.iconsgroup{
    margin-bottom: 100px;
    text-align: center;
    padding: 0 5px;
    justify-content: center;
    margin: 50px;
}
.iconsgroup p {
font-weight: bold;
}

.icons{
    padding: 20px;
    border: 2px solid #EBE7FA;
    border-radius: 100px;
    background-color: #EBE7FA;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;    
}


/*------------PARTE 2------------------*/


/*------------PARTE 3------------------*/

.users{
    background-color: #F7FAFD;
    height: 120vh;
    width: 100%;

}

.testimonials{
    color: #333333;
}

.estadisticas{
    background-color: #E8EFF6;
    height: 30vh;
    display: flex;
    margin: 0% auto;
    align-items: center;
    
} 

.substats{
    text-align: center;
    height: 60%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.ratings{
    text-align: center;
    padding: 2%;
}

.customers{
    background-color: white;
    height: 15%;
    margin: 4% auto;
    padding: 4%;
    width: 84%;
    text-align: center;
}

.logo {
    margin: 2%;
}

.testimonials{
    font-size: 300%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

.cursiva {
    font-style: italic;
    font-size: 110%;
    line-height: 160%;
    color: #7a7a7a;
    margin-bottom: 2%;
}

.ratings hr{
    width: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.negrita {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}

/*-----------------MEDIA QUERIES------------------*/




/*-----------MEDIA QUERIES TABLET--------*/

@media screen and (max-width:768px) {
    .title-icons {
        display: flex;
        flex-direction: column;
    }
    .testimonials{
        font-size: 250%;
    }
    .ratings{

    }
    .row{
        flex-wrap: wrap;
    }

    .ratings{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .customers{
        height: 6%;
    }

    .users{
        height: 240vh;
    }


    .estadisticas{

        display: flex;
        flex-direction: wrap;

    }

}



/*-----------MEDIA QUERIES MOBIL--------*/
@media  screen and (max-width:425px) {
    .users {
        height: 200vh;
    }

    .estadisticas{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

}

