/*------------GENERAL------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* max-width: 1080px; */
    margin: 0 auto;
}

.main-container, .title-icons, .contenedor1, .contenedor2, .users, .estadisticas{
    max-width: 1080px;
}


/* -----------------------BARRA NAVEGACIÓN--------------*/
nav, .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
    height: 8vh;
    display: flex;
    position: fixed;
    background-color: #F7FAFD;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.logonav{
    width: 50%;
    height: 80%;
}
.logo{
    height: 100%;
}

.navbar{
    width: 50%;
    height: 100%;
    margin: 0;
}
.navbar {
    list-style: none;
}
.navbar li a{

    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
}
.bbuton{
    color: #333333;
}

.download {
    color: #FF4B63;
    border-color: #FF4B63;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

.bbuton:hover {
    color: #FF4B63;
    cursor: pointer;
    transition: 0.3s ease;
}

/*


.navbar {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
}

nav, .nav, .navbar ul {
    display:flex;
}

.nav{
    max-width: 1080px;
}

.nav, .navbar ul{
    margin: 0 auto ;
    padding: 0;
    height: 100%;
    display: flex;
}

.nav, .navbar ul li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    margin: auto;
    margin-top: auto;
}

.navbar ul li a{
    color: none;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
}

.bbuton{
    color: #303030;
}

nav ul li a:hover {
    color: #FF4B63;
    cursor: pointer;
    transition: 0.3s ease;
}


.download {
    color: #FF4B63;
    border-color: #FF4B63;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
} */



/*------------PARTE 1------------------*/
.main-container{
    padding-top:4%;
    display: flex;
    flex-direction: column;
    background-color: #F7FAFD;
    width: 100%;
    height: 90vh;
}

.maintitle{
    background-color: #F7FAFD;
    flex-direction: column;
    width: 50% ;
    margin: 0 auto ;
    margin-top: 30px;
    text-align: center;

}
.maintitle h1 {
    font-size: 50px;
}
.maintitle p {
    font-size: 18px;
    line-height: 30px;
}
.mobileicon{
    font-size: x-large;

    
}

.buttons{
    display: flex;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 10px;
    
}


.button-background{
    background-color: red;
    border-radius: 40px;
    border-color: red;
    color: red;
    font-weight: bold;
    padding: 5 22px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}


.button-background a {
    color: white;
    display: flex;
    text-align: center;
    margin-top: 5px;
    margin-left: 4px;
    text-decoration: none;
        
}


.phoneimg{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 60%;
    padding-top: 50px;
}

.phone{
    max-width: 1080px;

}



.title-icons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
    
}
.iconsgroup{
    margin-bottom: 100px;
    text-align: center;
    padding: 0 5px;
    justify-content: center;
    margin: 50px;
}
.iconsgroup p {
font-weight: bold;
}

.icons{
    padding: 20px;
    border: 2px solid #EBE7FA;
    border-radius: 100px;
    background-color: #EBE7FA;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;    
}


/*------------PARTE 2------------------*/

.contenedor1{
    background-color: #F7FAFD;
    max-width: 1080px;
    height: 70vh;
    padding: 4%;
    display: flex;
}

.parte1{
    width: 50%;
    height: 98%;
}

.description1{
    width: 100%;
}

.parte2{
    width: 50%;
    height: 98%;
    margin-left: 2%;
}

.titulo{
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
}

.texto{
    font-size: 107%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 170%;
    color: rgba(73, 68, 68, 0.76);
    margin-left: 5%;
}

.lista{
    font-size: 103%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 115%;
    color: rgba(73, 68, 68, 0.76);
    margin-left: 1%;
}

.botonlightbox{
    background-color: #FF556E;
    color: white;
    border: 0px;
    border-radius: 20px;
    width: 135px;
    height: 40px;
    font-weight: bold;
    margin-left: 5%;
}

.contenedor2{
    background-color: #E8EFF6;
    width: 100%;
    height: 75vh;
    padding-top: 90px;
    display: flex;
}

.izquierda{
    width: 47%;
    height: 100%;
    margin-left: 4%;
}

.tresbotones{
    width: 48%;
    flex-wrap: wrap;
    margin-left: 4%;
}

.iconos{
    margin-right: 5px;
}

.tresbotones button {
    margin: 2%;
}

.morado{
    color: white;
    font-weight: bold;
    border: 0px;
    background-color: #9A67E7;
    width: 105px;
    height: 30px;
}

.blanco{
    color: #777777;
    font-weight: bold;
    border: 0px;
    background-color: #F7FAFD;
    width: 105px;
    height: 30px;
}

.texto2{
    font-size: 107%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 170%;
    color: rgba(73, 68, 68, 0.76);
    margin-left: 4%;
}

.lista2{
    font-size: 107%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 140%;
    color: rgba(73, 68, 68, 0.76);
    list-style-image: url('https://api.iconify.design/material-symbols/check-box-outline.svg?color=%2351d3ad&height=20');
}

.dosbotones{
    margin-left: 4%;
}

.terms{
    background-color: #FF556E;
    color: white;
    border: 0px;
    border-radius: 20px;
    width: 113px;
    height: 40px;
    font-weight: bold;
}

.privacy{
    background-color: #E8EFF6;
    color: #000000;
    border-color: #000000;
    border-width: 2px;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-weight: bold;
    margin-left: 1%;
}

.derecha{
    width: 47%;
    height: 100%;
    text-align: center;
    margin-left: 2%;
    margin-right: 4%;
}

.description2{
    width: 100%;
}

/*------------PARTE 3------------------*/

.users{
    background-color: #F7FAFD;
    height: 140vh;
    padding-bottom: 4%;

}

.testimonials{
    color: #333333;
}

.estadisticas{
    background-color: #E8EFF6;
    display: flex;
    margin: 0% auto;
    align-items: center;
    width: 92%;
    padding: 4%;
    
} 

.substats{
    text-align: center;
    /* height: 80%; */
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.ratings{
    text-align: center;
    padding: 2%;
}

.customers{
    background-color: white;
    height: 15%;
    margin: 4% auto;
    padding: 4%;
    width: 84%;
    text-align: center;
}

.sponsors {
    margin: 2%;
}

.testimonials{
    font-size: 300%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

.cursiva {
    font-style: italic;
    font-size: 110%;
    line-height: 160%;
    color: #7a7a7a;
    margin-bottom: 2%;
}

.ratings hr{
    width: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.negrita {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
}

/*-----------------MEDIA QUERIES------------------*/




/*-----------MEDIA QUERIES TABLET--------*/

@media screen and (max-width:768px) {
    .title-icons {
        display: flex;
        flex-direction: column;
    }

    .contenedor1{
        height: 90vh;
    }

    .contenedor2{
        height: 90vh;
    }

    .testimonials{
        font-size: 250%;
    }
    .ratings{

    }
    .row{
        flex-wrap: wrap;
    }

    .ratings{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .customers{
        height: 6%;
    }

    .users{
        height: 240vh;
    }


    .estadisticas{
        width: 100%;
        display: flex;
        flex-direction: wrap;

    }

}



/*-----------MEDIA QUERIES MOBIL--------*/
@media  screen and (max-width:425px) {
    .users {
        height: 200vh;
    }

    .estadisticas{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

}

